[submodule "assets/fonts/Work-Sans"]
	path = assets/fonts/Work-Sans
	url = https://github.com/weiweihuanghuang/Work-Sans.git
[submodule "posts"]
	path = posts
	url = git@github.com:fivegrant/blogposts.git
