<!DOCTYPE html>
<html>
<head>
  <title>five's blog</title>
  <link rel="stylesheet" href="/blog.css">
  <link rel="icon" href="/favicon.jpeg">
</head>
<body>
  <p class = "blog-title" id="recede">five grant</p>
  <div class = "bar" id="fade">
    <a class = "point"></a><br/>
    <a class = "point"></a><br/>
    <a class = "point">blog!</a><br/>  
    <a class = "point"></a><br/>
  </div>
  <div class="feed">
   First blog post coming soon!
  </div>
  <p id = "contact">contact<br>5 [at] <i>name-of-this-site</i></p>
</body>
</html>
