<!DOCTYPE html>
<html>
<head>
  <title>five grant</title>
  <link rel="stylesheet" href="/primary.css">
  <link rel="icon" href="/favicon.jpeg">
</head>
<body>
  <p class = "splash-title">five grant</p>
  <div class = "bar">
    <a class = "point" href = "./who">who?</a><br/>
    <a class = "point" href = "./how">how?</a><br/>
    <a class = "point" href = "./blog">blog!</a><br/>  
    <a class = "point" href = "./microblog">microblog.</a><br/>
  </div>
  <p id = "contact">contact<br>5 [at] <i>name-of-this-site</i></p>
</body>
</html>
