<!DOCTYPE html>
<html>
<head>
  <title>Five Grant</title>
  <link rel="stylesheet" href="fivegrant.css">
  <script src="fivegrant.js"></script>
  <link rel="icon" href="favicon.png">
  <link href=
  "https://fonts.googleapis.com/css?family=Special+Elite" rel=
  "stylesheet">
</head>
<body>
  <div class = "main">
    <div class="bar">
      <ul>
        <h1>Five Grant</h1>
	<li class="point">About</li>
	<li class="point">Blog</li>
        <li id="divider">-----------------</li>
      </ul>
    </div>
    <div id="contact">
      <ul>
        <h3>Contact</h3>
        <li>5 [at] fivegrant [dot] com</li>
        <li>Mastodon: @Five_Grant</li>
        <li>Twitter: @Five_Grant</li>
      </ul>
    </div>
  </div>
</body>
</html>
