<!DOCTYPE html>
<html>
<head>
  <title>five grant</title>
  <link rel="stylesheet" href="/home.css">
  <link rel="icon" href="/favicon.png">
</head>
<body>
  <p class = "splash-title">five grant</p>
  <div class = "content">
    <p>
      my <a href = "https://docs.joinmastodon.org/">mastodon</a> instance
      instance is down right now. i'll get it up as soon as possible.
    </p>
  </div>
  <div class = "bar">
    <a class = "point" href = "./">go back.</a>
  </div>
  <p id = "contact">5 [at] fivegrant [dot] com</p>
</body>
</html>
