@font-face
  font-family: 'Body Normal'
  src: url(Work-Sans-Medium.woff2) format("woff2")
  font-weight: normal

@font-face
  font-family: 'Body Bold'
  src: url(Work-Sans-Bold.woff2) format("woff2")
  font-weight: bold
 
@font-face
  font-family: 'Body Italic'
  src: url(Work-Sans-Italic.woff2) format("woff2")

@font-face
  font-family: 'Body BoldItalic'
  src: url(Work-Sans-BoldItalic.woff2) format("woff2")

body 
  background-color: #E7DFDD
  font-family: 'Body Normal'

.title
  z-index: 1
  font-family: 'Body Normal'
  font-size: 85px
  text-align: center
  width: 50%
  margin: 7.5% 25% 2% 25%
  padding: 0%
  user-select: none

.bar 
  z-index: 1
  font-family: 'Body Normal'
  font-size: 25px
  text-align: center
  line-height: 1.6
  width: 20%
  margin: 2% 40% 0% 40%
  padding: 0%
  border-radius: 5px
  & p
    color: black
    margin: 0%
    border-radius: inherit
  & a
    color: black
    width: 100%
    margin: 0%
    padding: 2% 25%
    border-radius: inherit

.content
  & p
    font-size: 20px
    line-height: 1.5
    text-align: left
    width: 40%
    margin: 0% 30% 2% 30%
    & a
      color: #A239CA
      text-decoration-style: dashed


#contact
  position: absolute
  font-family: "Body Italic"
  font-size: 20px
  justify-content: center
  text-align: center
  margin: 0% 10% 0% 10%
  width: 80%
  bottom: 16px 
  & p
    color: black

.point
  user-select: none
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  color: inherit
  text-decoration: none
  & a
    color: inherit
    text-decoration: none
  &:hover
    color: #A239CA
    background-color: #0E0B16
    font-family: 'Body Bold'
    cursor: pointer
